<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--配置项的顺序 by huangwb 2012-02-06 -->
	<!--
			ELEMENT configuration (properties?, settings?, typeAliases?,
			typeHandlers?, objectFactory?, plugins?, environments?,
			databaseIdProvider?, mappers?)
		-->
	<!--
			dialect: derby, oracle, mysql <properties> <property name="dialect"
			value="mysql"/> </properties>
		-->
	<properties>
		<property name="dialect" value="mysql" />  
		<property name="verify" value="true" />
		<!--
				配置mybatis的配置信息是否进行重复验证 ，true为验证
			-->
	</properties>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<!--
		<plugins>
			<plugin interceptor="com.cds.framework.dao.paging.PaginationInterceptor" />
		</plugins>

			<mappers> <mapper resource="mybatis/cds.common.version.mapper.xml" />
			</mappers>
		-->
	    <typeAliases>

        <typeAlias type="com.zjcds.xa.bean.UserInfoBean" alias="user_xx"/>
         <typeAlias type="com.zjcds.xa.bean.ExpenseBudgetBean" alias="expenseBudget"/>
			<typeAlias type="com.zjcds.xa.bean.DataScanBean" alias="datascan"/>

    </typeAliases>	
		
</configuration>
