<?xml version="1.0" encoding="UTF-8"?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zjcds.xa.dao.IDataRsDirDao">


	<select id="getDataScan" parameterType="string" resultType="com.zjcds.xa.bean.DataScanBean">
	  select t.id,t.id,
            t.data_from_dept,
            t.data_from_system,
            t.data_etl_type,
            t.data_etl_freq,
            t.data_tab_rows,
            t.data_space_usage from DATA_SCAN t order by t.data_from_dept
</select>
    <select id="getDataTabs" parameterType="HashMap" resultType="HashMap">
        SELECT * FROM
        (
        SELECT A.*, ROWNUM RN
        FROM ( select t.tab_name, t.tab_comment, t.tab_rows
        from V_TAB_SCAN t
        group by t.tab_name, t.tab_comment, t.tab_rows
        order by t.tab_rows desc) A
        )
        WHERE RN &gt;= #{start} and RN &lt;=#{end}

    </select>
    <insert id="addData" parameterType="HashMap">
 insert into data_rs_regist(
        id,
        data_dept,
        data_group ,
        data_gettype,
        data_name,
        tab_rg_time
      )values(
       1,
       #{data_dept},
       #{data_group},
       #{data_gettype},
       #{data_name},
       to_char(sysdate, 'yyyy-mm-dd')
      )
    </insert>
    <insert id="addService" parameterType="HashMap">
        insert into data_service_regist(
        id,
        service_dept,
        service_group ,
        service_name,
        service_gettype,
        service_description,
        service_rg_time
        )values(
        1,
        #{service_dept},
        #{service_group},
        #{service_name},
        #{service_gettype},
        #{service_description},
        to_char(sysdate, 'yyyy-mm-dd')
        )

    </insert>
    <resultMap type="HashMap" id="TreeDataMap">
        <result column="tab_name" property="tab_name"/>
        <result column="tab_rows" property="tab_rows"/>
        <result column="tab_comment" property="tab_comment"/>
        <result column="tab_rg_time" property="tab_rg_time"/>
        <result column="tab_group" property="tab_group"/>
        <result column="tab_yw_time" property="tab_yw_time"/>
        <result column="tab_source" property="tab_source"/>
        <result column="tab_beizhu" property="tab_beizhu"/>
    </resultMap>
    <select id="getTreeData" parameterType="HashMap" resultMap="TreeDataMap">
      SELECT * FROM
        (
        SELECT a.*, ROWNUM RN
        FROM(select tt.tab_name as tab_name, tt.tab_rows as tab_rows, tt.tab_comment as tab_comment,tab_rg_time as tab_rg_time, tt.tab_group as tab_group,
        tt.tab_yw_time as tab_yw_time,
        tt.tab_source as tab_source,
        tt.tab_beizhu as tab_beizhu
  from tab_scan tt, data_rs_regist t
 where tt.tab_name = t.data_gettype and t.tree_id=#{tree_id}
        <if test="TAB_COMMENT!=null and TAB_COMMENT!=''">
            and TAB_COMMENT like   '%${TAB_COMMENT}%'
        </if>
            <if test="TAB_RG_TIME!=null and TAB_RG_TIME!=''">
                and TAB_RG_TIME=#{TAB_RG_TIME}
            </if>
            <if test="TAB_UPDATE_TIME!=null and TAB_UPDATE_TIME!=''">
                and tab_yw_time=#{TAB_UPDATE_TIME}
            </if>
        group by tt.tab_name, tt.tab_rows, tt.tab_comment , tab_rg_time, tt.tab_group,
        tt.tab_yw_time,
        tt.tab_source,
        tt.tab_beizhu order by  tt.tab_rows desc)a
        )
        WHERE RN &gt;= #{start} and RN &lt;=#{end}

    </select>
    <resultMap type="HashMap" id="TreeServiceMap">
        <result column="rn" property="rn"/>
        <result column="service_dept" property="service_dept"/>
        <result column="service_group" property="service_group"/>
        <result column="service_name" property="service_name"/>
        <result column="service_gettype" property="service_gettype"/>
        <result column="service_description" property="service_description"/>
        <result column="service_rg_time" property="service_rg_time"/>
    </resultMap>
    <select id="getTreeService" parameterType="HashMap" resultMap="TreeServiceMap">
        SELECT * FROM (SELECT a.*, ROWNUM RN
        FROM(select *
        from  data_service_regist t
        where t.tree_id=#{tree_id}
        <if test="SERVICE_NAME!=null and SERVICE_NAME!=''">
            and SERVICE_NAME like  '%${SERVICE_NAME}%'
        </if>
        <if test="SERVICE_DEPT!=null and SERVICE_DEPT!=''">
            and SERVICE_DEPT like  '%${SERVICE_DEPT}%'
        </if>
        <if test="SERVICE_GROUP!=null and SERVICE_GROUP!=''">
            and SERVICE_GROUP like '%${SERVICE_GROUP}%'
        </if>
        <if test="SERVICE_RG_TIME!=null and SERVICE_RG_TIME!=''">
            and SERVICE_RG_TIME=#{SERVICE_RG_TIME}
        </if>
        )a
        )
        WHERE RN &gt;= #{start} and RN &lt;=#{end}

    </select>
    <resultMap type="HashMap" id="colsMap">
        <result column="col_name" property="col_name"/>
        <result column="col_comment" property="col_comment"/>
        <result column="data" property="data"/>
    </resultMap>
    <select id="getcols" parameterType="HashMap" resultMap="colsMap">
        select t.col_name,t.col_comment,t.data from TAB_SCAN t where t.tab_name=#{TAB_NAME}

    </select>
	<!--  
	<insert id="addUser" parameterType="user_xx">    
	    insert into usertable(userid,username,password)  values(userid_seq.nextval,#{userName},#{password})  
	 </insert>   
	 <update id="updateUser" parameterType="user_xx">    
        update usertable set username=#{userName},password=#{password}  where userid=#{userId}    
     </update> 
     -->
</mapper>